@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Prompt', sans-serif;
}

/* -------------------------BOX SIZING */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/* --------------------------- GLOBALS */
:root{
    --primary-100:#FF7F50;
    --primary-200:#dd6236;
    --primary-300:#8f1e00;
    --accent-100:#8B4513;
    --accent-200:#ffd299;
    --text-100:#000000;
    --text-200:#2c2c2c;
    --bg-100:#F7EEDD;
    --bg-200:#ede4d3;
    --bg-300:#c4bcab;
}
body {
    background-color: var(--bg-100);
    font-size: 1.6rem;
    line-height: 1.5;
  }
  p {
    font-size: 1.8rem;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }
  .contenedor {
    max-width: 110rem;
    margin: 0 auto;
  }
  h1,
  h2,
  h3 {
    text-align: center;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.2rem;
  }
  h3 {
    font-size: 2.4rem;
  }